In [1]:
import pyspark
from pyspark.conf import SparkConf
from pyspark.sql import SparkSession, DataFrame

# This CATALOG_URL works for the "docker compose" testing and development environment
# Change 'lakekeeper' if you are not running on "docker compose" (f. ex. 'localhost' if Lakekeeper is running locally).
CATALOG_URL = "http://lakekeeper:8181/catalog"
WAREHOUSE = "demo"

SPARK_VERSION = pyspark.__version__
SPARK_MINOR_VERSION = '.'.join(SPARK_VERSION.split('.')[:2])
ICEBERG_VERSION = "1.10.0"

# Configure our Spark Session

In [2]:
config = {
    "spark.sql.catalog.lakekeeper": "org.apache.iceberg.spark.SparkCatalog",
    "spark.sql.catalog.lakekeeper.type": "rest",
    "spark.sql.catalog.lakekeeper.uri": CATALOG_URL,
    "spark.sql.catalog.lakekeeper.warehouse": WAREHOUSE,
    "spark.sql.catalog.lakekeeper.io-impl": "org.apache.iceberg.aws.s3.S3FileIO",
    "spark.sql.extensions": "org.apache.iceberg.spark.extensions.IcebergSparkSessionExtensions",
    "spark.sql.defaultCatalog": "lakekeeper",
    "spark.driver.memory": "24G",
    "spark.jars.packages": f"org.apache.iceberg:iceberg-spark-runtime-{SPARK_MINOR_VERSION}_2.13:{ICEBERG_VERSION},org.apache.iceberg:iceberg-aws-bundle:{ICEBERG_VERSION}",
    # about zstd: Turn on zstd to make things highly compressed. Less size on disk, less IO bandwidth!
    # we want to use zstd for parquet: 
    "spark.sql.parquet.compression.codec": "zstd",
    "spark.sql.iceberg.planning.preserve-data-grouping": "true",
    # we also want to use zstd for iceberg datafiles
    "spark.sql.iceberg.compression-codec": "zstd",
    "spark.sql.iceberg.locality.enabled": "true",
    # note: merge-schema should be only set to true if you "trust" the upstream data producer
    "spark.sql.iceberg.merge-schema": "false",
}

In [3]:
spark_config = SparkConf().setMaster('local[*]').setAppName("Iceberg-REST")
for k, v in config.items():
    spark_config = spark_config.set(k, v)

spark: SparkSession = SparkSession.builder.config(conf=spark_config).getOrCreate()

In [4]:
# spark.sql.shuffle.partitions (need to be smaller for streaming)
# the default is 200, which is great for huge data, but bad for small incremental streams
# spark.conf.get('spark.sql.shuffle.partitions')

In [5]:
spark.sql("USE lakekeeper")

DataFrame[]

In [6]:
# uncomment the following to view the full SparkConf
# spark.sparkContext.getConf().getAll()

In [1]:
if int(spark.conf.get("spark.sql.shuffle.partitions")) > 100:
    print("reducing shuffle partitions to 32")
    spark.conf.set("spark.sql.shuffle.partitions", "32")

NameError: name 'spark' is not defined

In [7]:
from pyspark.sql.functions import col, to_date, to_timestamp
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, LongType, FloatType
schema = (StructType([
    StructField("event_time", StringType(), False),
    StructField("event_type", StringType(), False),
    StructField("product_id", IntegerType(), False),
    StructField("category_id", LongType(), False),
    StructField("category_code", StringType(), False),
    StructField("brand", StringType(), False),
    StructField("price", FloatType(), False),
    StructField("user_id", IntegerType(), False),
    StructField("user_session", StringType(), False),
]))

In [8]:
from pathlib import Path
dataset_dir = Path('/home/jovyan').joinpath('datasets').absolute()

In [9]:
ecomm_raw_dir = dataset_dir.joinpath('ecomm_raw')

In [10]:
october_data = (ecomm_raw_dir.joinpath("2019-Oct.csv")).as_posix()
november_data = (ecomm_raw_dir.joinpath("2019-Nov.csv")).as_posix()

## Create the E-commerce Data for ingestion to Iceberg
> we'll be using the '2019-Oct.csv', '2019-Nov.csv' datasets, doing some minor tweaks and then using these to populate our base Iceberg tables
> 
> Then we'll move on to doing Iceberg Streaming in Part 2

In [11]:
ecomm_oct_df = (
    spark.read.format("csv")
    .option("header", True)
    .schema(schema)
    .load(october_data)
)

In [12]:
ecomm_oct_df.show()

+--------------------+----------+----------+-------------------+--------------------+--------+-------+---------+--------------------+
|          event_time|event_type|product_id|        category_id|       category_code|   brand|  price|  user_id|        user_session|
+--------------------+----------+----------+-------------------+--------------------+--------+-------+---------+--------------------+
|2019-10-01 00:00:...|      view|  44600062|2103807459595387724|                NULL|shiseido|  35.79|541312140|72d76fde-8bb3-4e0...|
|2019-10-01 00:00:...|      view|   3900821|2053013552326770905|appliances.enviro...|    aqua|   33.2|554748717|9333dfbd-b87a-470...|
|2019-10-01 00:00:...|      view|  17200506|2053013559792632471|furniture.living_...|    NULL|  543.1|519107250|566511c2-e2e3-422...|
|2019-10-01 00:00:...|      view|   1307067|2053013558920217191|  computers.notebook|  lenovo| 251.74|550050854|7c90fc70-0e80-459...|
|2019-10-01 00:00:...|      view|   1004237|2053013555631882655|electronics.smart...|   apple|1081.98|535871217|c6bd7419-2748-4c5...|
|2019-10-01 00:00:...|      view|   1480613|2053013561092866779|   computers.desktop|  pulser| 908.62|512742880|0d0d91c2-c9c2-4e8...|
|2019-10-01 00:00:...|      view|  17300353|2053013553853497655|                NULL|   creed| 380.96|555447699|4fe811e9-91de-46d...|
|2019-10-01 00:00:...|      view|  31500053|2053013558031024687|                NULL|luminarc|  41.16|550978835|6280d577-25c8-414...|
|2019-10-01 00:00:...|      view|  28719074|2053013565480109009|  apparel.shoes.keds|   baden| 102.71|520571932|ac1cd4e5-a3ce-422...|
|2019-10-01 00:00:...|      view|   1004545|2053013555631882655|electronics.smart...|  huawei| 566.01|537918940|406c46ed-90a4-478...|
|2019-10-01 00:00:...|      view|   2900536|2053013554776244595|appliances.kitche...|elenberg|  51.46|555158050|b5bdd0b3-4ca2-4c5...|
|2019-10-01 00:00:...|      view|   1005011|2053013555631882655|electronics.smart...| samsung| 900.64|530282093|50a293fb-5940-41b...|
|2019-10-01 00:00:...|      view|   3900746|2053013552326770905|appliances.enviro...|   haier| 102.38|555444559|98b88fa0-d8fa-4b9...|
|2019-10-01 00:00:...|      view|  44600062|2103807459595387724|                NULL|shiseido|  35.79|541312140|72d76fde-8bb3-4e0...|
|2019-10-01 00:00:...|      view|  13500240|2053013557099889147|furniture.bedroom...|     brw|  93.18|555446365|7f0062d8-ead0-4e0...|
|2019-10-01 00:00:...|      view|  23100006|2053013561638126333|                NULL|    NULL| 357.79|513642368|17566c27-0a8f-450...|
|2019-10-01 00:00:...|      view|   1801995|2053013554415534427|electronics.video.tv|   haier| 193.03|537192226|e3151795-c355-4ef...|
|2019-10-01 00:00:...|      view|  10900029|2053013555069845885|appliances.kitche...|   bosch|  58.95|519528062|901b9e3c-3f8f-414...|
|2019-10-01 00:00:...|      view|   1306631|2053013558920217191|  computers.notebook|      hp| 580.89|550050854|7c90fc70-0e80-459...|
|2019-10-01 00:00:...|      view|   1005135|2053013555631882655|electronics.smart...|   apple|1747.79|535871217|c6bd7419-2748-4c5...|
+--------------------+----------+----------+-------------------+--------------------+--------+-------+---------+--------------------+

In [13]:
ecomm_oct_df.count()

42448764

In [14]:
ecomm_nov_df = (
    spark.read.format("csv")
    .option("header", True)
    .schema(schema)
    .load(november_data)
)

In [15]:
ecomm_nov_df.show()

+--------------------+----------+----------+-------------------+--------------------+--------+------+---------+--------------------+
|          event_time|event_type|product_id|        category_id|       category_code|   brand| price|  user_id|        user_session|
+--------------------+----------+----------+-------------------+--------------------+--------+------+---------+--------------------+
|2019-11-01 00:00:...|      view|   1003461|2053013555631882655|electronics.smart...|  xiaomi|489.07|520088904|4d3b30da-a5e4-49d...|
|2019-11-01 00:00:...|      view|   5000088|2053013566100866035|appliances.sewing...|  janome|293.65|530496790|8e5f4f83-366c-4f7...|
|2019-11-01 00:00:...|      view|  17302664|2053013553853497655|                NULL|   creed| 28.31|561587266|755422e7-9040-477...|
|2019-11-01 00:00:...|      view|   3601530|2053013563810775923|appliances.kitche...|      lg|712.87|518085591|3bfb58cd-7892-48c...|
|2019-11-01 00:00:...|      view|   1004775|2053013555631882655|electronics.smart...|  xiaomi|183.27|558856683|313628f1-68b8-460...|
|2019-11-01 00:00:...|      view|   1306894|2053013558920217191|  computers.notebook|      hp|360.09|520772685|816a59f3-f5ae-4cc...|
|2019-11-01 00:00:...|      view|   1306421|2053013558920217191|  computers.notebook|      hp|514.56|514028527|df8184cc-3694-454...|
|2019-11-01 00:00:...|      view|  15900065|2053013558190408249|                NULL| rondell| 30.86|518574284|5e6ef132-4d7c-473...|
|2019-11-01 00:00:...|      view|  12708937|2053013553559896355|                NULL|michelin| 72.72|532364121|0a899268-31eb-46d...|
|2019-11-01 00:00:...|      view|   1004258|2053013555631882655|electronics.smart...|   apple|732.07|532647354|d2d3d2c6-631d-489...|
|2019-11-01 00:00:...|      view|  17200570|2053013559792632471|furniture.living_...|    NULL|437.33|518780843|aa806835-b14c-45a...|
|2019-11-01 00:00:...|      view|   2701517|2053013563911439225|appliances.kitche...|    NULL|155.11|518427361|c89b0d96-247f-404...|
|2019-11-01 00:00:...|      view|  16700260|2053013559901684381|furniture.kitchen...|    NULL| 31.64|566255262|173d7b72-1db7-463...|
|2019-11-01 00:00:...|      view|  34600011|2060981320581906480|                NULL|    NULL| 20.54|512416379|4dfe2c67-e537-4dc...|
|2019-11-01 00:00:...|      view|   4600658|2053013563944993659|appliances.kitche...| samsung|411.83|526595547|aab33a9a-29c3-4d5...|
|2019-11-01 00:00:...|      view|  24900193|2053013562183385881|                NULL|    NULL|  1.09|512651494|f603c815-f51a-46f...|
|2019-11-01 00:00:...|      view|  27400066|2053013563391345499|                NULL|    NULL|  8.55|551061950|3f6112f1-5695-4e8...|
|2019-11-01 00:00:...|      view|   5100503|2053013553375346967|                NULL|  xiaomi| 22.68|520037415|f54fa96a-f3f2-43a...|
|2019-11-01 00:00:...|      view|   1004566|2053013555631882655|electronics.smart...|  huawei|164.84|566265908|52c2c76c-b79e-479...|
|2019-11-01 00:00:...|      view|   1307115|2053013558920217191|  computers.notebook|      hp|411.59|514028527|df8184cc-3694-454...|
+--------------------+----------+----------+-------------------+--------------------+--------+------+---------+--------------------+

In [16]:
ecomm_nov_df.count()

67501979

### Create the Initial Parquet Tables 
> These will live outside of MinIO and the Iceberg Catalog

* We'll create a simple helper function to _aid_ in our journey. We'll call it `write_parquet`.
* Using the new _function_, we'll then need to convert the **csv**->**parquet**, so run the **two** cells under "convert the data". They will produce raw parquet records under the path `datasets/ecomm_raw/parquet/ecomm`.
* We will then be able to run a series of 'daily' transactions to **write** all of the records into our foundational **iceberg** table.

In [17]:
def write_parquet(df: DataFrame, destination: Path, sink_dir: str) -> DataFrame:
    save_path = destination.joinpath('parquet', sink_dir)
    # modifications to the dataframe
    transformed = (
        df
            .withColumn("event_time", to_timestamp(col("event_time"), "yyyy-MM-dd HH:mm:ss z"))
            .withColumn("event_date", to_date(col("event_time")))
    )
    
    return (
        transformed
            .write
            .format("parquet")
            .partitionBy("event_date")
            .mode("append")
            .save(save_path.as_posix())
    )

### Convert the Data
We're on a mission to convert CSV to Parquet. Let's do that next.
> Note: This process may take a while if you're using the full dataset (~19GB)
> Note: The function "expects" that we'll be _appending__ to the **ecomm** directory.
> * If you want to modify the behavior of the function, give it a new argument called mode, and default that to "errorIfExists" of "ignore" - so you don't have to worry about deduplication or going nuculear and wiping out the entire ecomm directory!

In [18]:
# note: ecomm_raw_dir is the Path instance to the datasets/ecomm_raw directory
# further note: this could take a few minutes locally. Just turn up your favorite jams and let it ride
# lastly, the safe guard is on to check if the parquet directory already exists. This is to save you from accidentally 
# running the import more than once. This is to save you the trouble this can cause.

if not ecomm_raw_dir.joinpath('parquet', 'ecomm', 'event_date=2019-10-01').is_dir():
  write_parquet(ecomm_oct_df, ecomm_raw_dir, 'ecomm')
else:
  print("oh good. Saved you from having to import again. Not to mention the duplicates - what a mess")

oh good. Saved you from having to import again. Not to mention the duplicates - what a mess

In [19]:
if not ecomm_raw_dir.joinpath('parquet', 'ecomm', 'event_date=2019-11-01').is_dir():
  write_parquet(ecomm_nov_df, ecomm_raw_dir, 'ecomm')
else:
  print("same goes for the november set. It exists, so we'll skip for now.")

same goes for the november set. It exists, so we'll skip for now.

## Iceberg: Creating and Appending data to Iceberg Tables
> This section will help us build a firm understanding of how to work with Iceberg Tables
1. Learn to easily check for table existence
2. Learn to use Spark SQL to create Namespaces (this is where our tables live)
3. Use the simple table existence check to either a) create a new Iceberg table, or b) append new rows to an existing table within a Namespace

In [20]:
# let's identify a helper function to check to see if a "table" exists
# this can be done a few different ways, but this one uses the 'underlying' spark.catalog
# and I like that better :)

def table_exists(table_name: str):
    return any(table.name == table_name for table in spark.catalog.listTables())

## Tables live in Namespaces
Namespaces are a way of **grouping** tables together in the same way you would use **data domains** to separate different categories of data. 
> In practice, a namespace could be something like "consumer", "product", "orders" for ecommerce.
> For our demo, we'll just call the namespace `icystreams` since we are grouping data to use for _Streaming Iceberg_

In [21]:
catalog_namespace = 'icystreams'
spark.sql(f"CREATE NAMESPACE IF NOT EXISTS {catalog_namespace}")
spark.sql("SHOW NAMESPACES").show()

+----------+
| namespace|
+----------+
|icystreams|
+----------+

In [22]:
# The current catalog will be the value of the following configuration: spark.conf.get("spark.sql.defaultCatalog")
spark.catalog.currentCatalog()

'lakekeeper'

In [23]:
# within the Apache Spark ecosystem. Our namespace is equivalent to a traditional hive "database", or Unity Catalog "schema"
spark.catalog.listDatabases()

[Database(name='icystreams', catalog='lakekeeper', description=None, locationUri='s3://examples/initial-warehouse/01998cb2-ac2e-7cb0-b341-ae5794445827')]

> Note: To simplify how we write to Iceberg, we are going to use the `spark.catalog.*` functions to point to `lakekeeper.icystreams`.

In [24]:
spark.catalog.setCurrentDatabase('icystreams')

In [ ]:
spark.catalog.listTables()

In [ ]:
spark.catalog.listTables()

In [28]:
def write_iceberg(df: DataFrame, namespace: str, table_name: str, partition_col: str) -> DataFrame:
    # simplifies the process of `testing` for the state of a given Iceberg table
    to_iceberg = (
        df
            .writeTo(f"{namespace}.{table_name}")
            .partitionedBy(partition_col)
    )
    # decided to append or create
    if table_exists(table_name):
        return to_iceberg.append()
    return to_iceberg.create()

In [71]:
# provide a way of creating hidden partitions
# note: check out all the tableproperties here (https://iceberg.apache.org/docs/latest/configuration/)
def write_iceberg_hidden_partitions(df: DataFrame, namespace: str, table_name: str, partitioned_by_cols: str) -> DataFrame:
    """
    This will create a new iceberg table (if it doesn't exist)
    :param df: The reference DataFrame to steal our schema from
    :param namespace: The namespace to write the table within
    :param table_name: The name of the table
    :param partitioned_by_cols: The PARTITIONED BY (clause). Example: 'days(event_time), category_id'
    :return: an empty DataFrame on success
    """
    # todo - add default ordering : ORDERED BY (category ASC, event_time DESC)
    if not table_exists(table_name):
        # fetch the ddl from the dataframe schema
        table_ddl = df.schema.toDDL()
        res_df = spark.sql(f"""
            CREATE TABLE IF NOT EXISTS {namespace}.{table_name} (
                {table_ddl}
            ) USING ICEBERG
            PARTITIONED BY ({partitioned_by_cols})
            TBLPROPERTIES(
            'read.split.planning-lookback'='5',
            'read.parquet.vectorization.batch-size'='32'
            );
        """)
        print(res_df.show())
    
    # since we explicitly create the table, we can simplify this vs the other version of the function
    return df.writeTo(f"{namespace}.{table_name}").append()

## Writing our Parquet into Iceberg
The following two cells will copy all data from the October and November 2019 parquet records
into the Iceberg tables `ecomm` and `ecomm_hidden`. 

The big difference here is that we don't need to "add" additional columns to the source parquet to this functionality.
> Note: If you are familiar with generated columns (generateAlwaysAs), then think of the PARTITIONED BY(days(event_time), bucket(8, category_id)) 
> as the same kind of mechanic. Remember, you can always change your mind later and drop or add additional partitoning without
> rewriting the entire table. Enjoy.

In [73]:
# set the reference to the parquet directory
parquet_dir = ecomm_raw_dir.joinpath('parquet', 'ecomm')
iceberg_table_name = 'ecomm'
iceberg_table_name_hp = "ecomm_hidden"

In [54]:
# Run the following block to write a single transaction per day
# Note: This took around 2 minutes on a high-powered M3 Ultra computer - 10 core (eg: spark.master=local[*])
# This can run on a single machine really easily - but blindingly fast in a cluster (only latency is IO between your object storage and your Iceberg Rest Catalog API and the Spark Cluster)
year = "2019"
months = ['10', '11']
for month in list(months):
    for day in (range(1, 32)) if month == '10' else (range(1, 31)):
        insert_date = f"{year}-{month}-0{day}" if day < 10 else f"{year}-{month}-{day}"
        write_iceberg(
            (spark
                .read
                .format('parquet')
                .load(parquet_dir.as_posix())
                .where(col("event_date").isin(insert_date))
            ),
        catalog_namespace,
        iceberg_table_name,
        'event_date'
        )

In [57]:
spark.sql(f"select count(*) as total from {catalog_namespace}.{iceberg_table_name}").show()

+---------+
|    total|
+---------+
|109950743|
+---------+

In [60]:
# shows a query that can do mix/max pushdown with simple partition by on 'event_date'
spark.sql(f"""
select
  product_id, 
  count(*) as total,
  min(event_time) as min_time, 
  max(event_time) as max_time 
  from {catalog_namespace}.{iceberg_table_name}
  where product_id in (17302664, 1003461) 
  and event_time BETWEEN TIMESTAMP('2019-10-01 18:00:00') and TIMESTAMP('2019-11-12 16:00:00') 
  group by product_id
""").show()

+----------+-----+-------------------+-------------------+
|product_id|total|           min_time|           max_time|
+----------+-----+-------------------+-------------------+
|  17302664| 2573|2019-10-01 18:00:17|2019-11-12 15:48:40|
|   1003461| 3911|2019-10-01 18:07:04|2019-11-12 15:56:11|
+----------+-----+-------------------+-------------------+

In [ ]:
# writing all the same data just with hidden partitioning
# note: there are only 691 categories, while we have over 200k unique product identifiers
# bucketing by product_id is another strategy to reduce the directory cost with hidden partitions
# try some things, break some things, it is fine :)
use_ddl_table = "ecomm_hidden_other"
year = "2019"
months = ['10', '11']
for month in list(months):
    for day in (range(1, 32)) if month == '10' else (range(1, 31)):
        insert_date = f"{year}-{month}-0{day}" if day < 10 else f"{year}-{month}-{day}"
        write_iceberg_hidden_partitions(
            df=(
                spark.read
                .format('parquet')
                .load(parquet_dir.as_posix())
                .where(col("event_date").isin(insert_date))
                .drop(col("event_date"))
            ),
            namespace=catalog_namespace,
            table_name=use_ddl_table,
            partitioned_by_cols='days(event_time), bucket(8, category_id)'
        )

In [75]:
hidden_parts_df = spark.sql(f"select * from {catalog_namespace}.{use_ddl_table}")
hidden_parts_df.show()

+-------------------+----------+----------+-------------------+--------------------+------------+-------+---------+--------------------+
|         event_time|event_type|product_id|        category_id|       category_code|       brand|  price|  user_id|        user_session|
+-------------------+----------+----------+-------------------+--------------------+------------+-------+---------+--------------------+
|2019-10-20 12:51:37|      view|  15200217|2053013553484398879|                NULL|        NULL| 123.56|545081263|c2e016df-d267-4cf...|
|2019-10-20 12:51:38|      view|   1801881|2053013554415534427|electronics.video.tv|     samsung| 493.93|514802508|ab915d15-8aae-49e...|
|2019-10-20 12:51:38|      view|   5801039|2053013553945772349|electronics.audio...|       hertz| 132.64|542448535|98dc10fa-427f-45f...|
|2019-10-20 12:51:38|  purchase|   5100742|2053013553341792533|  electronics.clocks|       honor| 148.01|517816925|6cba4ff0-0b07-4d8...|
|2019-10-20 12:51:39|      view|   1802064|2053013554415534427|electronics.video.tv|     philips| 566.27|551443583|eba53a23-34ec-456...|
|2019-10-20 12:51:39|      view|   1801830|2053013554415534427|electronics.video.tv|       yasin| 158.05|562241117|773b9116-15bd-41a...|
|2019-10-20 12:51:39|      view|   1801696|2053013554415534427|electronics.video.tv|     hisense| 772.19|514563875|24fd6e74-8cb7-47c...|
|2019-10-20 12:51:39|      view|  23200391|2053013562359546659|                NULL|coopervision|  21.88|513368418|2de35e84-469c-479...|
|2019-10-20 12:51:40|      view|   7600132|2053013552821698803|                NULL|     tp-link|  20.05|512964081|f213b8e7-5869-47f...|
|2019-10-20 12:51:40|      view|   1801691|2053013554415534427|electronics.video.tv|     samsung| 475.82|562246044|386818ac-050d-43e...|
|2019-10-20 12:51:40|      view|   5100338|2053013553341792533|  electronics.clocks|       apple| 334.11|552393607|826ae7c8-4df1-44f...|
|2019-10-20 12:51:41|      view|   1801513|2053013554415534427|electronics.video.tv|       haier| 489.05|525015316|1a4c7384-7550-469...|
|2019-10-20 12:51:41|      view|   1801929|2053013554415534427|electronics.video.tv|     samsung| 559.96|515370141|fc142478-427b-4ab...|
|2019-10-20 12:51:41|      view|   5301045|2053013563173241677|                NULL|      galaxy|   9.24|518645141|2b270c0e-5df9-4de...|
|2019-10-20 12:51:41|      view|  15200281|2053013553484398879|                NULL|        akom|  64.35|555016901|d58d4024-55d3-41f...|
|2019-10-20 12:51:42|      view|   1801854|2053013554415534427|electronics.video.tv|     samsung|1003.58|540466469|498e5623-8778-451...|
|2019-10-20 12:51:42|      view|   5801483|2053013553945772349|electronics.audio...|     pioneer|  58.95|562245399|b74ccaff-8afc-46d...|
|2019-10-20 12:51:42|      view|   1701505|2053013553031414015|computers.periphe...|     huntkey| 172.72|525684135|bb580390-1926-439...|
|2019-10-20 12:51:43|      view|  46300025|2110937218225800069|       apparel.dress|     aivengo|  34.22|514445420|37b12322-0f3e-411...|
|2019-10-20 12:51:43|      view|   2501143|2053013564003713919|appliances.kitche...|       artel|  36.01|535893988|f1ed7c2f-7789-4cb...|
+-------------------+----------+----------+-------------------+--------------------+------------+-------+---------+--------------------+

In [76]:
spark.sql(f"""
select
  product_id, 
  count(*) as total,
  min(event_time) as min_time, 
  max(event_time) as max_time 
  from {catalog_namespace}.{use_ddl_table}
  where product_id not in (17302664, 1003461)
  and event_time BETWEEN TIMESTAMP('2019-10-01 18:00:00') and TIMESTAMP('2019-11-12 16:00:00') 
  group by product_id
""").show()

+----------+-----+-------------------+-------------------+
|product_id|total|           min_time|           max_time|
+----------+-----+-------------------+-------------------+
|  49500003| 2054|2019-10-02 17:08:09|2019-11-01 18:21:43|
|  13200834| 9778|2019-10-01 18:21:21|2019-11-12 15:59:27|
|  49300028|  217|2019-10-02 00:51:05|2019-10-28 16:02:04|
|  17800204| 3519|2019-10-01 18:54:18|2019-11-12 15:57:24|
|   2700658|  452|2019-10-02 09:12:59|2019-11-12 15:08:43|
|  11500291| 1183|2019-10-01 18:19:03|2019-11-12 15:57:30|
|  13201247|  277|2019-10-02 06:06:14|2019-11-12 10:49:36|
|   2702332| 3362|2019-10-01 18:19:38|2019-11-12 15:58:09|
|   9100019|  285|2019-10-01 20:06:03|2019-11-12 15:33:22|
|   9101528|  174|2019-10-02 06:22:15|2019-11-12 05:55:10|
|  35108841|   13|2019-10-07 12:57:28|2019-11-08 14:50:27|
|  11500489|  170|2019-10-01 18:11:57|2019-11-12 06:34:15|
|   1600437|  228|2019-10-02 03:38:48|2019-11-12 08:23:19|
|   6100213|  208|2019-10-02 10:42:16|2019-11-12 14:49:28|
|  13200148|  352|2019-10-02 08:34:35|2019-11-12 15:21:48|
|  34800380|   92|2019-10-08 17:02:34|2019-11-12 15:59:59|
|   2700779|  585|2019-10-02 03:30:34|2019-11-12 10:07:45|
|  19700152|   40|2019-10-05 17:08:31|2019-11-12 13:29:39|
|   1600635|  159|2019-10-08 03:56:04|2019-11-12 12:42:28|
|  17800052|  245|2019-10-01 18:22:10|2019-11-12 15:45:25|
+----------+-----+-------------------+-------------------+

In [80]:
spark.sql(f"show create table {catalog_namespace}.{use_ddl_table}").show(100, 0, True)

-RECORD 0-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
 createtab_stmt | CREATE TABLE lakekeeper.icystreams.ecomm_hidden_other (\n  event_time TIMESTAMP,\n  event_type STRING,\n  product_id INT,\n  category_id BIGINT,\n  category_code STRING,\n  brand STRING,\n  price FLOAT,\n  user_id INT,\n  user_session STRING)\nUSING iceberg\nPARTITIONED BY (days(event_time))\nCLUSTERED BY (category_id)\nINTO 8 BUCKETS\nLOCATION 's3://examples/initial-warehouse/01998cb2-ac2e-7cb0-b341-ae5794445827/01998cd3-0af8-7be3-a93a-28f07bb9d4ca'\nTBLPROPERTIES (\n  'current-snapshot-id' = '6151459368212957826',\n  'format' = 'iceberg/parquet',\n  'format-version' = '2',\n  'read.parquet.vectorization.batch-size' = '32',\n  'read.split.planning-lookback' = '5')\n

In [56]:
spark.sql(f"select count(*) as total from {catalog_namespace}.{iceberg_table_name_hp}").show()

+---------+
|    total|
+---------+
|109950743|
+---------+

In [66]:
spark.sql(f"select distinct(category_id) as category_id from {catalog_namespace}.{iceberg_table_name_hp}").toPandas()

             category_id
0    2060237588744111062
1    2090971686529663114
2    2053013564003713919
3    2053013556344914381
4    2152167773222993940
..                   ...
686  2100064855133258156
687  2053013560111399597
688  2053013552259662037
689  2055156924273394455
690  2187707857414128194

[691 rows x 1 columns]

In [64]:
# Note: we've got 206,876 unique product ids. This would be a bad column to partition on
spark.sql(f"select count(distinct(product_id)) as unique_product_ids from {catalog_namespace}.{iceberg_table_name_hp}").show()

+------------------+
|unique_product_ids|
+------------------+
|            206876|
+------------------+

In [65]:
# Note: the cardinality of the category id's is only 691 distinct
spark.sql(f"select count(distinct(category_id)) as unique_category_ids from {catalog_namespace}.{iceberg_table_name_hp}").show()

+-------------------+
|unique_category_ids|
+-------------------+
|                691|
+-------------------+

In [67]:
spark.sql(f"select distinct(product_id) as product_id from {catalog_namespace}.{iceberg_table_name_hp}").toPandas()

        product_id
0         28300055
1          1307545
2         38900025
3          5500325
4          4900373
...            ...
206871   100025269
206872    26006635
206873    24300264
206874    10800003
206875    26600968

[206876 rows x 1 columns]

In [86]:
# shows a query that can do mix/max pushdown and leans into the hidden date partitions to do file skipping
# you'll notice that we can do arbitrary filtering by hour as well.
# this query isn't taking advantage of category filtering (see how the two tables compare as homework)
spark.sql(f"""
select
  product_id, 
  count(*) as total,
  min(event_time) as min_time, 
  max(event_time) as max_time 
  from {catalog_namespace}.{iceberg_table_name_hp}
  where product_id not in (17302664, 1003461)
  and event_time BETWEEN TIMESTAMP('2019-10-01 18:00:00') and TIMESTAMP('2019-11-12 16:00:00') 
  group by product_id
""").show()

+----------+-----+-------------------+-------------------+
|product_id|total|           min_time|           max_time|
+----------+-----+-------------------+-------------------+
|  28715821|  777|2019-10-02 06:59:28|2019-11-12 06:09:49|
|  28706430| 2589|2019-10-02 00:35:31|2019-11-03 15:06:39|
|  15600022| 1089|2019-10-01 18:18:07|2019-11-12 14:02:58|
|  26600154|  148|2019-10-02 12:51:58|2019-11-12 15:36:18|
|   4300425|  109|2019-10-02 06:36:54|2019-11-12 13:07:04|
|  28703068|   76|2019-10-12 01:43:51|2019-11-12 15:30:56|
|  47000059|  455|2019-10-04 05:54:34|2019-11-12 15:19:28|
|  30000077|  758|2019-10-01 23:12:23|2019-11-12 14:48:08|
|  22200112|  173|2019-10-01 19:52:42|2019-11-12 12:11:30|
|  52900142|  182|2019-10-10 02:51:48|2019-11-12 15:28:07|
|  45600191|  267|2019-10-16 11:24:10|2019-11-10 15:19:18|
|   4300232|  158|2019-10-09 13:53:21|2019-11-01 05:46:16|
|   1480506| 1477|2019-10-01 18:10:39|2019-11-12 03:55:18|
|  17100091|   89|2019-10-01 18:08:59|2019-11-12 11:27:18|
|   1480743| 1258|2019-10-03 05:18:59|2019-11-12 15:50:35|
|  28721421|  143|2019-10-18 06:29:50|2019-11-12 15:09:24|
|  15900439|   42|2019-10-05 05:56:57|2019-11-05 02:28:27|
|  39800101|   15|2019-10-03 20:35:43|2019-11-04 10:53:22|
|  43900084|   91|2019-10-07 09:20:41|2019-11-12 07:14:43|
|  26600131|  185|2019-10-03 15:50:55|2019-11-12 15:41:23|
+----------+-----+-------------------+-------------------+

In [70]:
# view the create table statement
spark.sql(f"show create table {catalog_namespace}.{iceberg_table_name}").toPandas()

                                      createtab_stmt
0  CREATE TABLE lakekeeper.icystreams.ecomm (\n  ...

In [69]:
spark.sql(f"describe extended {catalog_namespace}.{iceberg_table_name}").toPandas()

,col_name,data_type,comment
0,event_time,timestamp,None
1,event_type,string,None
2,product_id,int,None
3,category_id,bigint,None
4,category_code,string,None
5,brand,string,None
6,price,float,None
7,user_id,int,None
8,user_session,string,None
9,event_date,date,None
10,# Partition Information,,
11,# col_name,data_type,comment
12,event_date,date,None
13,,,
14,# Metadata Columns,,
15,_spec_id,int,
16,_partition,struct<event_date:date>,
17,_file,string,
18,_pos,bigint,
19,_deleted,boolean,
20,,,
21,# Detailed Table Information,,
22,Name,lakekeeper.icystreams.ecomm,
23,Type,MANAGED,
24,Location,s3://examples/initial-warehouse/01998cb2-ac2e-...,
25,Provider,iceberg,
26,Owner,jovyan,
27,Table Properties,"[current-snapshot-id=3591208576167435970,forma...",
28,Statistics,"12314483216 bytes, 109950743 rows",None

In [27]:
spark.sql(f"select count(*) as total from {catalog_namespace}.{iceberg_table_name}").toPandas()

       total
0  109950743

In [78]:
spark.sql(f"""
select * from {catalog_namespace}.{iceberg_table_name} 
where event_date BETWEEN DATE("2019-11-15") AND DATE("2019-11-30")
ORDER BY event_date DESC
LIMIT 15
""").toPandas()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,event_date
0,2019-11-30 00:00:00,view,4804055,2053013554658804075,electronics.audio.headphone,apple,196.270004,548106089,e0b70673-d26d-4c72-98e8-7c25bb8d1216,2019-11-30
1,2019-11-30 00:00:00,view,1004225,2053013555631882655,electronics.smartphone,apple,952.150024,579329479,e302bdd1-1f8c-4210-9920-a55036d2e8c9,2019-11-30
2,2019-11-30 00:00:00,view,12703410,2053013553559896355,None,cordiant,47.619999,574179352,69e96ac7-8042-42bf-b145-40bc937dd141,2019-11-30
3,2019-11-30 00:00:01,view,3601438,2053013563810775923,appliances.kitchen.washer,beko,215.889999,555019938,626534f8-eb2a-4d05-84d4-9b9d91edb9d8,2019-11-30
4,2019-11-30 00:00:02,view,6400179,2053013554121933129,computers.components.cpu,intel,203.869995,513342746,4ba0eec3-1026-4df4-9495-17773a86ead5,2019-11-30
5,2019-11-30 00:00:02,view,18400149,2053013553912217915,None,kicx,112.489998,521867315,824aa67e-7220-4735-9507-0f37b3d5c27b,2019-11-30
6,2019-11-30 00:00:02,view,40900011,2127425434894205468,construction.tools.painting,None,48.910000,569407672,5d9b3bbd-4efc-4b7c-86dd-8cb9e2bc8f77,2019-11-30
7,2019-11-30 00:00:02,view,3500093,2053013555287949705,None,None,33.459999,553748453,4310c6c8-e10c-49db-a85c-051aaf0969d3,2019-11-30
8,2019-11-30 00:00:03,view,6000167,2053013560807654091,auto.accessories.alarm,centurion,82.110001,547094018,cea57a4d-5343-4de2-81fc-48124020b8bf,2019-11-30
9,2019-11-30 00:00:03,view,1004225,2053013555631882655,electronics.smartphone,apple,952.150024,579329479,e302bdd1-1f8c-4210-9920-a55036d2e8c9,2019-11-30
10,2019-11-30 00:00:03,view,2900958,2053013554776244595,appliances.kitchen.microwave,arg,59.180000,574140756,a26912f8-2ee2-4579-99b1-5483bd6bb43f,2019-11-30
11,2019-11-30 00:00:03,view,12705001,2053013553559896355,None,cordiant,41.959999,547095022,29e5279b-23a8-42a3-b337-e9110e4789e6,2019-11-30
12,2019-11-30 00:00:04,view,15201321,2053013553484398879,None,bosch,120.699997,542501188,78a1a976-3795-4f12-81e7-aaec699fab90,2019-11-30
13,2019-11-30 00:00:04,view,1305999,2053013558920217191,computers.notebook,apple,2273.419922,568658074,4c04c422-dca3-48f0-8ae9-64653b9b4840,2019-11-30
14,2019-11-30 00:00:04,view,6700796,2053013554247762257,computers.components.videocards,gigabyte,165.229996,564208988,2662d597-acb8-4adc-8951-923b1329362b,2019-11-30

## Is the Query Slow or is it Just your Laptop?
These queries are super fast. But we're also not streaming yet. 
* We haven't optimized any of the tables at this point.
* The next few cells show how to use the Iceberg stored procedures.  
* Whether this is a local experiment or production, you'll still need to periodically "clean" your tables up!

In [81]:
#result_df = spark.sql(f"""
#CALL system.rewrite_data_files(
#    table => 'lakekeeper.{catalog_namespace}.{iceberg_table_name}',
#        options => map(
#            'target-file-size-bytes', '134217728', -- 128MB target size
#            'min-input-files', '5' -- Minimum files to trigger rewrite
#        )
#    );
#""")

# result_df = spark.sql(f"CALL system.rewrite_data_files(table => 'lakekeeper.{catalog_namespace}.{iceberg_table_name}')")

# expire snapshots and remove manifest lists
result_df = spark.sql(f"""
CALL system.expire_snapshots(
  table => 'lakekeeper.{catalog_namespace}.{iceberg_table_name}', 
  older_than => '2025-09-28 00:00:00'
)
""")

In [82]:
result_df.show(1, 0, True)

-RECORD 0----------------------------------
 deleted_data_files_count            | 0
 deleted_position_delete_files_count | 0
 deleted_equality_delete_files_count | 0
 deleted_manifest_files_count        | 0
 deleted_manifest_lists_count        | 60
 deleted_statistics_files_count      | 0

In [83]:
result_df = spark.sql(f"""
CALL system.expire_snapshots(
  table => 'lakekeeper.{catalog_namespace}.{iceberg_table_name_hp}', 
  older_than => '2025-09-28 00:00:00'
)
""")
result_df.show(1, 0, True)

NameError: name 'results_df' is not defined

In [85]:
result_df = spark.sql(f"""
CALL system.expire_snapshots(
  table => 'lakekeeper.{catalog_namespace}.{use_ddl_table}', 
  older_than => '2025-09-28 00:00:00'
)
""")
result_df.show(1, 0, True)

-RECORD 0----------------------------------
 deleted_data_files_count            | 0
 deleted_position_delete_files_count | 0
 deleted_equality_delete_files_count | 0
 deleted_manifest_files_count        | 0
 deleted_manifest_lists_count        | 60
 deleted_statistics_files_count      | 0

## Fruits of our Labor?
Go ahead and **run the SQL query from before we tried to optimize the table** again. You may notice we're not getting a boost in speed. So what is happening here? 

The tables are actually performing really well. We don't have hundreds of gigabytes of metadata stacking up. The maintenance tasks so far are not a problem.

* Next, we're going to move on and utilize our **Foundational Tables** as the basis for our Streaming Iceberg best practices. Follow along :)

In [32]:
# > Note: This fails with S3 IO.
#clear_orphans_df = spark.sql(f"""
#CALL system.remove_orphan_files(
#  table => 'lakekeeper.{catalog_namespace}.{iceberg_table_name}',
#  prefix_listing => false
#)
#""")
# clear_orphans_df.show(1, 0, True)

In [ ]:
# > Note: This is the nuclear option to scrap the table and all metadata and simply begin again!
# spark.sql(f"DROP TABLE {catalog_namespace}.{iceberg_table_name}")
#spark.sql(f"DROP NAMESPACE {catalog_namespace}")